.content.container-fluid
  %ul.breadcrumb.plain
    %li.active My Cards

  #error

  %h2
    Card Manager
  %p.lead
    The card manager makes it easy for you to link your credit and/or debit cards.
  %p
    To begin, click <b>Link Card</b>.

  %hr

  .row-fluid.mt10
    .pull-left
      %a.btn.btn-success{"data-toggle" => "modal", :href => "#new_card"} Link Card
    .pull-right
      %a#remove-card.btn.disabled{"data-toggle" => "modal", :href => "#unlink_card"}
        Unlink Card

  .row-fluid
    %section#card_grid.mt10
      %p#nocardsmessage.center You do not currently have any registered card.
      %table#grid{:style => "display: none"}

#unlink_card.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Unlink Card
  .modal-body
    %p
      Are you sure you want to unlink the selected cards?
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
    %a.btn.btn-success{:href => "#"} Yes, continue
#new_card.modal.hide
  %form#registration_form.form-horizontal{:action => "", :method => "POST", :style => "margin-bottom: 0"}
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3 Card Information
    .modal-body
      .control-group.mt10
        %label.control-label Card Number
        .controls
          %input#card-number.input-xlarge{:type => "text", :maxlength => '16', :value => ''}
      .control-group
        %label.control-label
          Exp. Month
        .controls
          .form-inline
            %input.input-extra-mini#exp-month{:type => 'text'}
            %label
            &nbsp; Exp. Year &nbsp;
            %input.input-extra-mini#exp-year{:type => 'text'}
      .control-group
        %label.control-label
          CVV2
        .controls
          %input.input-mini#cvv2{:type => 'text', :maxlength => '3'}
          %i{:class => 'icon-question-sign', :style => 'margin-top: 3px; opacity: .5;  cursor: help;', :'data-placement' => 'right', :'data-original-title' => 'CVV2', :rel => 'popover', :'data-content' => 'The CVV2 is a three digit number located on the backside of your card.'}
      .control-group
        %label.control-label
        .controls
          %label.checkbox
            %input{:type => 'checkbox', :checked => 'true'}
            Use address on account

    .modal-footer
      %a.btn{'data-dismiss' => 'modal', :href => '#'} Cancel
      %input.btn.btn-success.submit-button{:type => "submit", :value => "Yes, I'm finished"}

#new_transaction.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Simulate a new transaction
  .modal-body
    %form#transaction_form.form-horizontal{:action => "", :method => "POST", :style => "margin-bottom: 0"}
      .control-group
        .controls
          .input-prepend.input-append
            %span.add-on $
            %input.amount.span2{:type => "text", :size => "16", :value => ""}
            %button.btn.submit-button{:type => "submit"} Go!


%script{:src => "https://js.cardspring.com/v1/cs.js"}
= include_gon

:javascript
  $(function(){
    $('*[rel="popover"]').popover();
    $('#cvv2').val('');
    $('#exp-month').combo({
      items: [
        { text:  '01', value: '01', selected: true },
        { text:  '02', value: '02' },
        { text:  '03', value: '03' },
        { text:  '04', value: '04' },
        { text:  '05', value: '05' },
        { text:  '06', value: '06' },
        { text:  '07', value: '07' },
        { text:  '08', value: '08' },
        { text:  '09', value: '09' },
        { text:  '10', value: '10' },
        { text:  '11', value: '11' },
        { text:  '12', value: '12' }
      ]
    });

    $('#exp-year').combo({
      items: [
        { text:  '2013', value: '2013', selected: true },
        { text:  '2014', value: '2014' },
        { text:  '2015', value: '2015' },
        { text:  '2016', value: '2016' },
        { text:  '2017', value: '2017' },
        { text:  '2018', value: '2018' },
        { text:  '2019', value: '2019' },
        { text:  '2020', value: '2020' },
        { text:  '2021', value: '2021' },
        { text:  '2022', value: '2022' },
        { text:  '2023', value: '2023' },
        { text:  '2024', value: '2024' }
      ]
    })

  });

- content_for :page_scripts do
  = javascript_include_tag('pages/newcard.js')
