%form#registration_form{:action => "", :method => "POST"}
  %input.card-number{:type => "string", :value => ""}
  %select.expiration-month
    %
<form action="" method="POST" id="registration_form">
  <input class="card-number" type="string" value=""></input>
  <select class="expiration-month">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <select class="expiration-year">
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
  </select>
  <input type="submit" class="submit-button" value="submit"></input>
</form>

    <script src="https://js.cardspring.com/v1/cs.js"></script>

    <script>
      $(document).ready(function() {
        $('#registration_form').submit(function(event) {
          $('.submit-button').attr('disabled', 'disabled');
          CardSpring.addCard(
              cardSpringResponseHandler,
              {
                publisher_id: 'A8pLh1jNshzaLkPP6fOy6YGhf5EKxXBm',
                security_token: 'AAWvJaOqIMhfb3XfhlbFP1QtHXdCbgVq',
                timestamp: timestamp,
                hmac: hmac,
                test_mode: true
              },
              {
                card_number: $('.card-number').val(),
                exp_month: $('.expiration-month').val(),
                exp_year: $('.expiration-year').val(),
                user_id: user_id
              },
              "OcGd5dea22Cs"
              );
          return false;
        });
      });
    </script>
