= "this is awesome"
= "this is awesome"
= "this is awesome"
= "this is awesome"

#new.modal{:style => 'position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: 10px; width: auto;'}
  .modal-header
    %h3{ :style => 'width: 50%;'}
      Available Rewards
      .lead{:style => 'font-size: 14px; height: 18px; position: absolute; right: 15px; top: 8px;'}
        Expires in 23:04:30
  .modal-body{:style => 'padding: 0;'}
    %ul.offers-list
      %li.clearfix
        .pull-left
          .brand-icon
            %img{ :src => "/assets/banana_logo.jpg"}
        .pull-left
          %h4
            Banana Republic
          %p
            Save 50% off your next purchase of $50 or more!
        .pull-right
          .btn.btn-success
            Redeem
      %li.clearfix
        .pull-left
          .brand-icon
            %img{ :src => "assets/gap_logo.jpg"}
        .pull-left
          %h4
            The Gap
          %p
            Apply 10% off to this purchase
        .pull-right
          .btn.btn-success
            Redeem
